@charset "utf-8";

/* This is the CSS for my page. I know you can have this information 
directly in the html using <styles> but I think that clutters stuff up
too much, so I made a CSS file.*/

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0;
    padding:0;
    background: linear-gradient(to right, yellow, red);   
  }

h1 {
    color:#000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
    }

header {
    color: #000;
    text-shadow: 0px 2px 4px rgba(34,62,66,.25);
    background: linear-gradient(to right, yellow, red); 
    padding: 20px;
    align-items: center;
  }

header h1{
    font-size: 30px;
    text-align: justify;
    margin-left: 70px;
}

.logo {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* To maintain aspect ratio */
    padding: 0px;
}

.article {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
    text-shadow: 0px 2px 4px rgba(34,62,66,.25);
    }

.article h2 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0;
    color: #000;
    text-align: center;
    text-shadow: 0px 2px 4px rgba(34,62,66,.25);
}

.article p {
    text-align: center;
    text-shadow: 0px 2px 4px rgba(34,62,66,.25);
    color: #000;
}

nav {
    background-color: #000000;
    padding: 10px 0;
    width:100%;
    text-align: left;
}

nav a {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    text-decoration: none; /*Gets rid of the underline*/
    margin: 0 10px;  
}

nav a.current {
    color: red;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav a:hover {
    text-decoration: none;
    text-shadow: 0px 4px 4px black; /* Eases out the glow */
    transition: text-shadow 1s ease;
}

.webpageTitle{
    color:#000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    font-size: 300px;
}

/* Style for the footer */
.footer {
    text-shadow: 0px 2px 4px rgba(34,62,66,.25);
    background: linear-gradient(to right, yellow, red); /* Background color */
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #0e0d0d;
    padding: 20px;
    text-align: center;
    margin-top: auto; /* Autos the footer to the bottom */
}
.footer a {
    color: #0c0c0c;
    font-family: Arial, sans-serif;
    text-decoration: none;
    margin: 0 10px;
}
.footer a:hover {
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(35,63,67,.6); /* Adds a shadow that eases away */
    transition: text-shadow 1s ease;
}

/*#######################################################*/
/*##################### About Me Page ###################*/
/*#######################################################*/

p {
    text-align: center;
    font-weight: bold;
}

table {
    width: 50%;
    margin: 10px auto;
    margin-bottom: 10px;
}


th, td { /* table border and other data designs */
    border: 1px solid #000;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    color: #000;
}

th:first-child {
    background-color: #4CAF50; /* Chnages the first th */
    color: #000;
  }

  th:nth-child(2) { /* Changes the second th */
    background-color: yellow;
    color: #000;
  }

  th:nth-child(3) { /* Changes the third th */
    background-color: red;
    color: #000;
  }



/*#######################################################*/
/*################## My Interests Page ##################*/
/*#######################################################*/
.interestList {
    list-style: none;
    padding: 0;
    margin: 20px;
  }
  
  .interestList li {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 2px solid #000;
    background: linear-gradient(to right, #ffd633, #ff0000);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adds a nice shadow*/
    transition: background 0.3s ease;
  }
  
  .interestList li:hover {
    background: linear-gradient(to right, #ff5733, #ff005d);
    filter: hue-rotate(20deg);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.8);
  }


/* Container for the mp4 and mp3 files*/
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

/* Styles for the video */
.interestVideo {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  /* Styles for the audio player */
  .audioPlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


/*#######################################################*/
/*################ Gallery Images Format ################*/
/*#######################################################*/

.gallery {
    margin: 20px auto;
    max-width: 768px; /* Sets the width */
    margin-top: 10px; /* Gap between the header and images */
    display: grid; /* diplays the images in a grid-like way */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    /* Each image is 250px, while fr is used so each image fits uniformly in the grid */
    grid-gap: 0px; /* Gap between each image */
}

.image {
    position: relative;
    overflow: hidden;
  }

.image img {
    margin: 0px;
    border: 3px solid #000000;
    object-fit: cover; /* Crops the images so they arent stretched */
    width: 250px;
    height: 250px;
}
.caption {
    position: absolute;
    bottom: 5px;
    text-align: left;
    font-weight: bold;
    padding: 10px;
    width: 252px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: transform 0.3s ease;
} 

.image:hover .caption {
    transform: translateY(0px);
  }

.modal {
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    padding-top: 30px; /* Padding from the header */
    left: 0; 
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.9); /* black with opacity */
  }
  
.modal-content {
    margin: auto;
    display: block;
    width: 45%; /* makes it so images dont have to be scrolled */
    max-width: 800px;
  }
  
.modal-content img {
    width: 100%;
    height: auto;
  }
  
.close { /* Styles for the x button */
    color: white;
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
  }
  
.close:hover,
.close:focus { /* Styles to grey-out the x button */
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

/*#######################################################*/
/*################### Contact Form Page #################*/
/*#######################################################*/
body.contactMePage { /* specific body for this page */
    font-family:  Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to right red, yellow);
    font-weight: bold;
            margin: 0;
            padding: 0;
            background-color: #000;
            color: #fff;
}

form {
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    color: #000;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
}

fieldset {
    border: none;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 0 0 20px 0;
    padding: 0;
}
legend {
    color: #000;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}
label {
    display: inline-block;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], textarea, select {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    color: #000;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    }

input[type="submit"] {
    background-color: #ff4500;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1em;
    padding: 10px 20px;
    }

#output{
    text-align: center;
    color: #000;
}

/*#######################################################*/
/*################### Invintation Page ##################*/
/*#######################################################*/

#placeholderContent {
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    color: #000;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
}


                




