@charset "utf-8";

/* This is the CSS for my page. I know you can have this information 
directly in the html using <styles> but I think that clutters stuff up
too much, so I made a CSS file.*/





body {
    font-family:  Georgia, 'Times New Roman', Times, serif;
    margin:0;
    padding:0; 
    background: #EA33FF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

/* Style for the header */
header {
    text-shadow: 0px 2px 4px rgba(34,62,66,.25);
    background: #EA33FF; 
    color: #000000;
    padding: 20px;
    display: flex;
    align-items: center;
}
/*###############################################*/

.logo {
    width: 50px; /* Adjust the width as needed */
    height: auto; /* To maintain aspect ratio */
}

.logoShadow {
    width: 50px; /* Adjust the width as needed */
    height: auto;
    opacity: 0.5;
    filter: blur(2px);
    position: absolute;
    top: 33px; /* Adjust the distance of the shadow from the main image */
    left: 22px; /* Adjust the distance of the shadow from the main image */
    margin-right: 20px; /* Adjust the distance of the title */
}

.nav {
    text-shadow: 0px 2px 4px rgba(255, 255, 255, 0.786); /* Adds a glow to the text */
    transition: transform 0.5s ease; /* Adjust how long the glow dissappears */
    background-color: #000000;
    padding: 10px 0;
    width:45%;
    text-align: center;
}
.nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav a:hover {
    text-decoration: none;
    text-shadow: 0px 4px 4px black; /* Eases out the glow */
    transition: text-shadow 1s ease;
}

/* Style for the footer */
footer {
    text-shadow: 0px 2px 4px rgba(34,62,66,.25);

    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #0e0d0d;
    padding: 20px;
    padding-bottom:100px;
    text-align: center;
    margin-top: 500px; /* Autos the footer to the bottom */
}
footer a {
    color: #0c0c0c;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    margin: 0 10px;
}
footer a:hover {
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(35,63,67,.6);
    transition: text-shadow 1s ease;
}

/*#######################################################*/
/*####################### Home Page #####################*/
/*#######################################################*/

.homeBody {
    font-family:  Georgia, 'Times New Roman', Times, serif;
    margin:0;
    padding:0; 
    background: #EA33FF;
    display: flex;
    flex-direction: column;
    background: #EA33FF url('bg.gif') repeat-y;
    min-height: 100vh;
    }

  .page-size { 
    position:absolute;
    top:0px;
    left:50px;
    width:100%;
    height: 600px;	 
    padding:0, 30px;
    }

.supporting{
    padding:15px;
    position:absolute;
    top:200px;
    left:230px;
    width:360px;
    height:600px;
    overflow:auto;
    background:transparent url('supp_bg.gif') no-repeat fixed;
    background:transparent !important;
    z-index:2;
    }
     
.explanation{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    margin-top:50px;
    width: 300px;
    }

.explanationTwo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    margin-top:50px;
    width: 300px;
    }

h3 { 
    font-family:georgia;
    font-style:italic;
    font-size:14px;
    letter-spacing: 1px; 
    margin-bottom: 0px; 
    text-align:center;
    color:#6012BE;
    }

.sidebar{
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width:200px;
    height:600px;
    position:absolute;
    top:200px;
    left:5px;
    padding:75px 25px 0px 0px;
    background:transparent url('sidebar_bg.gif') no-repeat;
    }       
        
.sidebar h3{
    color:#D386FA;
    }
        
.sidebar ul{
    margin:0px;
    padding:15px;
    }
        
.sidebar li{
    margin:0;
    padding:0;
    list-style:none inside;
    display:block;
    padding:2px;
    }
        
.sidebar a{
    font-family:  Georgia, 'Times New Roman', Times, serif;
    color:#D386FA;
    }

h3.select{
    display:none;
    }
            
.pageSelection ul li{
    padding-bottom:5px;
    margin-bottom:5px;
    border-bottom:dotted 1px #fff;
    }
            
.pageSelection ul li a{
    display:block;
    }
        


.homeFooter{
    left:-5px;
    top:710px;
    width:651px;
    position:absolute;
    background: #8B13E4;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#333;
    }

.Zoot{
    position:absolute;
    top:-65px ;
    left:600px;
    width:221px;
    height: 635px;
    background:transparent url('demoman.gif') no-repeat;
    z-index:2;
    }
        
.smallerZoot{
    position:absolute;
    top:710px ;
    left:200px;
    width:221px;
    height:200px;
    background:transparent url('demoman.gif') no-repeat;
    z-index:2;
    }

.paperBackground{
    position:absolute;
    top:200px;
    left:270px;
    width:430px;
    height:700px;
    background:transparent url('supp_bg.gif')no-repeat; 
    z-index:0;
    }




/*#######################################################*/
/*##################### About Me Page ###################*/
/*#######################################################*/
.containerAboutMe {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); /* White shadow for fiery effect */
    color: #fff;
}

p {
    text-align: justify;
    font-weight: bold;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 10px auto;
    margin-bottom: 10px;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: #000;
    color: #fff;
}
th {
    color:#fff
}

/*#######################################################*/
/*################## My Interests Page ##################*/
/*#######################################################*/
ul {
    font-weight: bold;
}

/*#######################################################*/
/*################ Gallery Images Format ################*/
/*#######################################################*/
.galleryGrid {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}
.gallery {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}
.gallery img {
    width: 100%;
    border-radius: 5px; /* Rounded border */
}
.caption {
    font-weight: bold;
    margin-top: 10px; /* Distance from image and caption */
}

/*#######################################################*/
/*################### Contact Form Page #################*/
/*#######################################################*/
body.contactMePage { /* specific body for this page */
    font-family:  Georgia, 'Times New Roman', Times, serif;
    background: #000;
    font-weight: bold;
            margin: 0;
            padding: 0;
            background-color: #000;
            color: #fff;
}

.contactMessageBox {
    max-width: 600px; /* Max width of the box */
    width: 600px;
    margin: 10px auto; 
    padding: 30px; /* Change this value to add more border around the text inputs */
    background: linear-gradient(to bottom, red, yellow);
    border-radius: 10px; /* Change this value to make the box more rounded */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); /* White shadow */
}

h1 {
    text-align: center;
}

label {
    display: block; 
    margin-bottom: 10px; /* Change this value to make the labels above the input boxes larger */
}

form label {
    color: #000; /* Set the color of input labels to black */
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px; /* Sets the length of the text box */
    margin-bottom: 20px; /* sets the distance between each box */
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1); /* White with transparency */
    color: #000;
}

input[type="submit"] {
    padding: 10px 20px; /* Sets the size of the box */
    border: none;
    border-radius: 5px;
    background-color: #ff3c00;
    color: #000; /* Color of the text */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #ffa527; /* Lighter shade of orange on hover */
}
/*###############################################*/    

                




