@charset "utf-8";

/* This is the CSS for my page. I know you can have this information 
directly in the html using <styles> but I think that clutters stuff up
too much, so I made a CSS file.*/

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0;
    padding:0;
    background: linear-gradient(to right, yellow, red);   
  }

h1 {
    color:#000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
    }

header {
    color: #000;
    text-shadow: 0px 2px 4px rgba(34,62,66,.25);
    background: linear-gradient(to right, yellow, red); 
    padding: 20px;
    align-items: center;
  }

header h1{
    font-size: 30px;
    text-align: justify;
    margin-left: 70px;
}

.logo {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* To maintain aspect ratio */
    padding: 0px;
}

.article {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
    text-shadow: 0px 2px 4px rgba(34,62,66,.25);
    }

.article h2 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0;
    color: #000;
    text-align: center;
    text-shadow: 0px 2px 4px rgba(34,62,66,.25);
}

.article p {
    text-align: center;
    text-shadow: 0px 2px 4px rgba(34,62,66,.25);
    color: #000;
}

nav {
    background-color: #000000;
    padding: 10px 0;
    width:100%;
    text-align: left;
}

nav a {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    text-decoration: none; /*Gets rid of the underline*/
    margin: 0 10px;  
}

nav a.current {
    color: red;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav a:hover {
    text-decoration: none;
    text-shadow: 0px 4px 4px black; /* Eases out the glow */
    transition: text-shadow 1s ease;
}

.webpageTitle{
    color:#000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    font-size: 300px;
}

/* Style for the footer */
.footer {
    text-shadow: 0px 2px 4px rgba(34,62,66,.25);
    background: linear-gradient(to right, yellow, red); /* Background color */
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #0e0d0d;
    padding: 20px;
    text-align: center;
    margin-top: auto; /* Autos the footer to the bottom */
}
.footer a {
    color: #0c0c0c;
    font-family: Arial, sans-serif;
    text-decoration: none;
    margin: 0 10px;
}
.footer a:hover {
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(35,63,67,.6);
    transition: text-shadow 1s ease;
}

/*#######################################################*/
/*##################### About Me Page ###################*/
/*#######################################################*/

p {
    text-align: center;
    font-weight: bold;
}

table {
    width: 50%;
    margin: 10px auto;
    margin-bottom: 10px;
}


th, td {
    border: 1px solid #000;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    color: #000;
}

th:first-child {
    background-color: #4CAF50;
    color: #000;
  }

  th:nth-child(2) {
    background-color: yellow;
    color: #000;
  }

  th:nth-child(3) {
    background-color: red;
    color: #000;
  }



/*#######################################################*/
/*################## My Interests Page ##################*/
/*#######################################################*/
ul {
    font-weight: bold;
}

/*#######################################################*/
/*################ Gallery Images Format ################*/
/*#######################################################*/
.galleryGrid {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}
.gallery {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}
.gallery img {
    width: 100%;
    border-radius: 5px; /* Rounded border */
}
.caption {
    font-weight: bold;
    margin-top: 10px; /* Distance from image and caption */
} 

/*#######################################################*/
/*################### Contact Form Page #################*/
/*#######################################################*/
body.contactMePage { /* specific body for this page */
    font-family:  Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to right red, yellow);
    font-weight: bold;
            margin: 0;
            padding: 0;
            background-color: #000;
            color: #fff;
}

/*###############################################*/    

                




